<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between ">

        <div class="logo">
            @* <h1><a href="index.html">Alstar</a></h1> *@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html"><img src=@SiteInfo.SDALogo alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#cta">Announcements / News</a></li>
                @*<li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>*@
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                @*
                <li class="dropdown">
                <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                </ul>
                </li>
                *@
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a><span id="cur-lang">@SiteInfo.Language.Name</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        @*<li><a id="change-lang-opt1" class="table-active" href="#">Drop Down 1</a></li>*@
                        @{
                            foreach (var lang in SiteInfo.Languages)
                            {
                                <li><a id=@SiteInfo.GetLanguageId(lang) href="">@lang.Name</a></li>
                            }

                        }
                    </ul>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">                
                @inject HHBW.Utils Utils
                @{
                    foreach (var info in @SiteInfo.Slides)
                    {
                        var imageUrl = await Utils.GetImageFromDrive(info.BackgroundImage);
                                                
                        if (SiteInfo.Slides.First() == info)
                        {
                            <div class="carousel-item active" style="background-image: url(@imageUrl);">
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@info.Headline <br><p style="font-size:20px">@SiteInfo.Orginization</p></h2>
                                        <p class="animate__animated animate__fadeInUp">@info.Description</p>
                                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@info.Expand</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item" style="background-image: url(@info.BackgroundImage);">
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@info.Headline <br><p style="font-size:20px">@SiteInfo.Orginization</p></h2>
                                        <p class="animate__animated animate__fadeInUp">@info.Description</p>
                                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@info.Expand</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>

            @* <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-double-left" aria-hidden="true"></span>
            </a> *@

            @* <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-double-right" aria-hidden="true"></span>
            </a> *@

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <img style="border-radius:5%" src=@SiteInfo.PlaceHolderImage class="img-fluid" width="1024" height="768" alt="about-image">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>
                        About Us Seventh-Day Adventist:
                    </h3>
                    <p class="fst-italic">
                        <strong style="font-size:30px">@SiteInfo.AboutUs.Substring(0, 1)</strong>
                        @SiteInfo.AboutUs.Substring(1, SiteInfo.AboutUs.Length - 1)
                    </p>
                    <ul>
                        @foreach (var achivement in SiteInfo.Achivements)
                        {
                            <li><i class="bi bi-check-circle"></i>@achivement</li>
                        }
                    </ul>
                    <p>

                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content">
                    <h3>
                        Bethany in Houston:
                    </h3>
                    <p class="fst-italic">
                        <strong style="font-size:30px">@SiteInfo.AboutUs.Substring(0, 1)</strong>
                        @SiteInfo.AboutUs.Substring(1, SiteInfo.AboutUs.Length - 1)
                    </p>
                    <ul>
                        @foreach (var achivement in SiteInfo.Achivements)
                        {
                            <li><i class="bi bi-check-circle"></i>@achivement</li>
                        }
                    </ul>
                    <p>

                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Cards Section ======= -->
    <section id="cards" class="cards">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="card">
                        <img src=@SiteInfo.PlaceHolderImage class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Autem sunt earum</a></h5>
                            <p class="card-text">Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore</p>
                            <a href="#" class="btn">Explore more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="card">
                        <img src=@SiteInfo.PlaceHolderImage class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Nobis et tempore</a></h5>
                            <p class="card-text">Ut quas omnis est. Non et aut tempora dignissimos similique in dignissimos. Sit incidunt et odit iusto</p>
                            <a href="#" class="btn">Explore more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="card">
                        <img src=@SiteInfo.PlaceHolderImage class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Facere quia quae dolores</a></h5>
                            <p class="card-text">Modi ut et delectus. Modi nobis saepe voluptates nostrum. Sed quod consequatur quia provident dera</p>
                            <a href="#" class="btn">Explore more</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cards Section -->
    <!---======= Youtube Feed  =======->
    @{
        if (!@SiteInfo.YoutubeLiveInfo.isLive)
        {
                                    <!-- ======= Cta Section ======= -->
            <section id="cta" class="cta">
                <div class="container">
                    <div class="text-center">
                        <h3>Our Youtube Feed!</h3>
                        <br>
                        <section id="hero" style="height: 500px">
                            <div class="hero-container">
                                <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                                    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                                    <div class="carousel-inner" role="listbox">
                                       @*  @{
                                            foreach (var info in @SiteInfo.News)
                                            {
                                                <div class="carousel-item active" style="background-image: #0000;">
                                                    <div class="carousel-container">
                                                        <div class="carousel-content">
                                                            <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@info.Headline</h2>
                                                            <p class="animate__animated animate__fadeInUp">@info.Description</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        } *@
                                        <h1> We are not live show youtube feed </h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </section>

            <!-- End Cta Section -->
        }
    }
    <!-- End Youtube Feed -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p></p>
            </div>
            <div class="row">
                @{
                    foreach (var service in SiteInfo.Services)
                    {
                        <div class="col-md-6" onclick="OpenService('@service.Link');">
                            <div class="icon-box">
                                <i class="bi bi-gem"></i>
                                <h4><a href="#">@service.Name</a></h4>
                                <p>@service.Description</p>
                            </div>
                        </div>
                    }

                }

                @* <div class="col-md-6">
                <div class="icon-box">
                <i class="bi bi-briefcase"></i>
                <h4><a href="#">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                <i class="bi bi-card-checklist"></i>
                <h4><a href="#">Dolor Sitema</a></h4>
                <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                <i class="bi bi-bar-chart"></i>
                <h4><a href="#">Sed ut perspiciatis</a></h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                <i class="bi bi-binoculars"></i>
                <h4><a href="#">Nemo Enim</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                <i class="bi bi-brightness-high"></i>
                <h4><a href="#">Magni Dolore</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                <i class="bi bi-calendar4-week"></i>
                <h4><a href="#">Eiusmod Tempor</a></h4>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                </div>
                </div> *@
            </div>

        </div>
    </section><!-- End Services Section -->
    @{
        if (@SiteInfo.News.Count > 0)
        {
            <!-- ======= Cta Section ======= -->
            <section id="cta" class="cta">
                <div class="container">
                    <div class="text-center">
                        <h3>Announcements / News!</h3>
                        <br>
                        <section id="hero">
                            <div class="hero-container">
                                <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                                    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
                                    <center>
                                        <ul class="no-bullets">
                                            @{
                                                foreach (var info in @SiteInfo.News)
                                                {
                                                    <li>
                                                        <div class="announcementBlock">
                                                            <img src=@SiteInfo.PlaceHolderImage alt="...">
                                                            <div class="announcementDetails">
                                                                <div class="announcementHeader"><a href="#">@info.Headline</a></div>
                                                                <br />
                                                                <div class="announcementDate">
                                                                    @info.DateTime.ToString("MMM/dd/yyyy")                                                                   
                                                                </div>
                                                                <div class="announcementTime">
                                                                    @info.DateTime.ToString("hh:mm tt")
                                                                    @if (info.DateTimeOffset != default) info.DateTimeOffset.ToString("-hh:mm tt");
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </center>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>

            <!-- End Cta Section -->
        }
    }


    @*
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
    <div class="container">

    <div class="section-title">
    <h2>Portfolio</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
    <ul id="portfolio-flters">
    <li data-filter="*" class="filter-active">All</li>
    <li data-filter=".filter-app">App</li>
    <li data-filter=".filter-card">Card</li>
    <li data-filter=".filter-web">Web</li>
    </ul>
    </div>
    </div>

    <div class="row portfolio-container">

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>App 1</h4>
    <p>App</p>
    <a href="img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Web 3</h4>
    <p>Web</p>
    <a href="img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>App 2</h4>
    <p>App</p>
    <a href="img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
    <img src="img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Card 2</h4>
    <p>Card</p>
    <a href="img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <img src="img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Web 2</h4>
    <p>Web</p>
    <a href="img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <img src="img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>App 3</h4>
    <p>App</p>
    <a href="img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
    <img src="img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Card 1</h4>
    <p>Card</p>
    <a href="img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
    <img src="img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Card 3</h4>
    <p>Card</p>
    <a href="img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <img src="img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Web 3</h4>
    <p>Web</p>
    <a href="img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    </div>

    </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
    <div class="container">

    <div class="section-title">
    <h2>Pricing</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

    <div class="col-lg-4 col-md-6">
    <div class="box">
    <h3>Free</h3>
    <h4><sup>$</sup>0<span> / month</span></h4>
    <ul>
    <li>Aida dere</li>
    <li>Nec feugiat nisl</li>
    <li>Nulla at volutpat dola</li>
    <li class="na">Pharetra massa</li>
    <li class="na">Massa ultricies mi</li>
    </ul>
    <div class="btn-wrap">
    <a href="#" class="btn-buy">Buy Now</a>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
    <div class="box featured">
    <h3>Business</h3>
    <h4><sup>$</sup>19<span> / month</span></h4>
    <ul>
    <li>Aida dere</li>
    <li>Nec feugiat nisl</li>
    <li>Nulla at volutpat dola</li>
    <li>Pharetra massa</li>
    <li class="na">Massa ultricies mi</li>
    </ul>
    <div class="btn-wrap">
    <a href="#" class="btn-buy">Buy Now</a>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
    <div class="box">
    <h3>Developer</h3>
    <h4><sup>$</sup>29<span> / month</span></h4>
    <ul>
    <li>Aida dere</li>
    <li>Nec feugiat nisl</li>
    <li>Nulla at volutpat dola</li>
    <li>Pharetra massa</li>
    <li>Massa ultricies mi</li>
    </ul>
    <div class="btn-wrap">
    <a href="#" class="btn-buy">Buy Now</a>
    </div>
    </div>
    </div>

    </div>

    </div>
    </section>
    <!-- End Pricing Section -->
    *@
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Team</h2>
                <p></p>
            </div>

            <div class="row">

                @{
                    foreach (var member in SiteInfo.TeamMembers)
                    {
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <div class="member-img">
                                    <img src=@member.Image class="img-fluid" alt="">
                                    <div class="social">
                                        <a href=@member.Twitter><i class="bi bi-twitter"></i></a>
                                        <a href=@member.Facebook><i class="bi bi-facebook"></i></a>
                                        <a href=@member.Instagram><i class="bi bi-instagram"></i></a>
                                        <a href=@member.Linkedin><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                                <div class="member-info">
                                    <h4>@member.Name</h4>
                                    <span>@member.Role</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
    <!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p></p>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Our Address</h3>
                        <p>@SiteInfo.Address</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>@SiteInfo.Email</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>@SiteInfo.Phone</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src=@SiteInfo.GoogleMap frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
</main><!-- End #main -->

<script>
    function OpenService(serviceid) {
        window.open(serviceid, "_blank");
    }
</script>