@inject SiteManager manager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title id="tab-tittle">@manager.GetInfo.Info.Title</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Alstar
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/alstar-free-parallax-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-inner-page">
        <div class="container d-flex align-items-center justify-content-between ">

            <div class="logo">
                @* <h1><a href="index.html">Alstar</a></h1> *@
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="index.html"><img src=@await manager.GetUtils.GetImageFromDriveAsync(manager.GetInfo.Thumbnail.SDALogo) alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="#news">Announcements / News</a></li>
                    @*<li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>*@
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a><span id="cur-lang">@manager.GetInfo.Language</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            @*  @{
                            foreach (var lang in Enum.GetNames(typeof(Languages)))
                            {
                                <li><a id=@manager.GetUtils.GetLanguageId(Enum.Parse<Languages>(lang)) href="">@lang</a></li>
                            }

                        } *@
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->


    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer">       
        <div class="container">
            <div class="copyright">
                &copy; Copyright @DateTime.Now.Year 
                <strong>
                    <span>
                        <a href="index.html">
                            <img src=@await manager.GetUtils.GetImageFromDriveAsync(manager.GetInfo.Thumbnail.SDALogo) alt="" width="64px" height="64px" class="img-fluid">
                        </a>
                        @manager.GetInfo.Info.Title
                    </span>
                </strong> All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://github.com/OkashiKami" target="_blank">Shiryu Studios LLC</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a style="border-radius:100%" href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>
</body>
</html>
