<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                @inject HHBW.Utils Utils
                @{
                    foreach (var info in @SiteInfo.Slides)
                    {
                        if (SiteInfo.Slides.First() == info)
                        {
                            <div class="carousel-item active" style="background-image: url(@await Utils.GetImageFromDrive(info.BackgroundImage));">
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@info.Headline <br><p style="font-size:20px">@SiteInfo.Orginization</p></h2>
                                        <p class="animate__animated animate__fadeInUp">@info.Description</p>
                                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@info.Expand</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item" style="background-image: url(@info.BackgroundImage);">
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@info.Headline <br><p style="font-size:20px">@SiteInfo.Orginization</p></h2>
                                        <p class="animate__animated animate__fadeInUp">@info.Description</p>
                                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@info.Expand</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>