@inject SiteManager manager;
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" data-bs-pause="false" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                @{
                    foreach (var slide in manager.GetInfo.Slides)
                    {
                        if (manager.GetInfo.Slides.First() == slide)
                        {
                            <div class="carousel-item active" style="background-image: url(@await manager.GetUtils.GetImageFromDriveAsync(slide.BackgroundImage));">
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@slide.Headline <br><p style="font-size:20px">@manager.GetInfo.Info.Orginization</p></h2>
                                        <p class="animate__animated animate__fadeInUp">@slide.Description</p>
                                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@slide.Expand</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item" style="background-image: url(@slide.BackgroundImage);">
                                <div class="carousel-container">
                                    <div class="carousel-content">
                                        <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@slide.Headline <br><p style="font-size:20px">@manager.GetInfo.Info.Orginization</p></h2>
                                        <p class="animate__animated animate__fadeInUp">@slide.Description</p>
                                        <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">@slide.Expand</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>